@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1 class="text-center">Eventy Styczeń 2023!</h1>
    <hr />
    <div>
        <p style="text-align: center;">
            <text style="font-weight: bold"> Piątek 6 Stycznia:</text><br />
            50% więcej zdobywanych exp, drop, yang!<br />
            Od godziny 17:00, do godziny 23:00
        </p>
        </text>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Sobota 7 Stycznia:</text><br />
            Podwójny Boss Na Dungeonie!<br />
            Od godziny 17:00 do godziny 22:00<br />
            Wszystkie dungeony Szansa 80%
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Niedziela 8 Stycznia:</text><br />
            Drop Skrzyni Potwora!<br />
            Od godziny 18:00, do godziny 22:00<br />
            Drop od 20 poziomu postaci<br />
            Drop masowy ze wszystkich potworów
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Wtorek 10 Stycznia:</text><br />
            Drop Cor Draconis z Metinów!<br />
            Od godziny 18:00 do godziny 23:00<br />
            Metiny 5-65lvl Cor Draconis Surowe<br />
            Metiny 70-100lvl Cor Draconis Rzadkie
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Piątek 13 Stycznia:</text><br />
            Drop Kart Okey!<br />
            Od godziny 16:00 do godziny 23:00<br />
            Możliwość grania kartami 48 godzin po zakończeniu eventu<br />
            Drop masowy z potworów
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Sobota 14 Stycznia:</text><br />
            100% więcej zdobywanych exp, drop, yang!<br />
            Od godziny 21:00, do godziny 1:00
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Niedziela 15 Stycznia:</text><br />
            Drop Skrzyni Potwora!<br />
            Od godziny 17:00, do godziny 21:00<br />
            Drop od 20 poziomu postaci<br />
            Drop masowy ze wszystkich potworów
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Środa 18 Stycznia:</text><br />
            Wydarzenie Rybackie!<br />
            Od godziny 18:00 do godziny 22:00<br />
            Podczas trwania eventu obowiązuje zakaz bicia ludzi łowiących ryby!
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Piątek 20 Stycznia:</text><br />
            Drop Kart Okey!<br />
            Od godziny 16:00 do godziny 23:00<br />
            Możliwość grania kartami 48 godzin po zakończeniu eventu<br />
            Drop masowy z potworów
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Sobota 21 Stycznia:</text><br />
            100% więcej zdobywanych exp, drop, yang!<br />
            Od godziny 17:00, do godziny 22:00
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Niedziela 22 Stycznia:</text><br />
            Podwójny Boss Na Dungeonie!<br />
            Od godziny 17:00 do godziny 23:00<br />
            Wszystkie dungeony<br />
            Szansa 100%
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Czwartek 26 Stycznia:</text><br />
            Drop Cor Draconis z Metinów!<br />
            Od godziny 16:00 do godziny 21:00<br />
            Metiny 5-65lvl Cor Draconis Surowe<br />
            Metiny 70-100lvl Cor Draconis Rzadkie
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Sobota 28 Stycznia:</text><br />
            Wydarzenie Rybackie!<br />
            Od godziny 20:00 do godziny 23:59<br />
            Podczas trwania eventu obowiązuje zakaz bicia ludzi łowiących ryby!
        </p>
        <br />
        <p style="text-align: center;">
            <text style="font-weight: bold"> Niedziela 29 Stycznia:</text><br />
            Drop Skrzyni Potwora!<br />
            Od godziny 18:00, do godziny 22:00<br />
            Drop od 20 poziomu postaci<br />
            Drop masowy ze wszystkich potworów
        </p>
    </div>
</div>